*{
    padding: 0;
    margin: 0;
}

#igra{
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

#igrac{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}

.animacija{
    animation: skok 500ms;
}

@keyframes skok{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#blok{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
    animation: blok 1s infinite linear;
}

@keyframes blok{
    0%{left:480px;}
    100%{left:-40px;}
}



